[Unit]
Description=Gol Observer Service
After=network.target

[Service]
Type=simple
User=carl
WorkingDirectory=/home/carl
ExecStart=/usr/local/bin/gol-observer
Restart=on-failure

[Install]
WantedBy=multi-user.target
